
.navbardiv{
    display:flex;
    width:100%;
    gap:50px;
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.locationdiv{
    display:flex;
    gap:10px;
    margin-top:33px;
}
.logodiv img{
    cursor: pointer;
    margin-left: 35px;
    width:190px;
    height:70px;
    margin-top: 10px;

}
.searchbardiv{
    margin-top:25px;
}
.cartdiv{
    display:flex;
    margin-top:33px;
}
.logindiv{
    display:flex;
    gap:5px;
    margin-top:33px;
}
p{
    color:grey
}
 .cartdiv:hover > p, .logindiv:hover>.loginhover ,.logindiv:hover >p,.locationdiv:hover>.locationhover , .locationdiv:hover>p {
    color:black;
    cursor: pointer;
}
.carthover:hover{
    color:black
}


