.containerdv
{
   
    display:flex;
    width: 100%;
    background-color: 1px solid black;
   
}
.filterfruitdiv
{
    width: 15%;
    height:200px;
    border:1px solid green;
    /* margin-left: 2%; */
}
.childdiv
{
 
   width:80%;
   margin-top: 5%;
   height: 100%;
   border:1px solid yellow;
   /* margin-left: 2%; */
   display: grid;
   /* column-gap: 10px; */
  grid-template-columns: auto auto auto  auto ;
  padding: 10px;
  /* grid-gap: 0.2%; */

}
.actuallfruites {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    width:80%;
    height: 150px;
    
  }
  .fruitdetaildiv{
      display: flex;
      border:1px solid black;
  }
  .rightfruitdiv
  {
      width:30%;
      height: 100%;
      border:1px solid green;
  }
  .leftfruitdiv
  {
      width:45%;
      height: 100%;
      border:1px solid yellow;
     
  }
  a
  {
    text-decoration: none;
  }