.containerdv
{
    display:flex;
}
.filterfruitdiv
{ 
  
  margin-right: 30px;
    margin-top: 4%;
    width: 23%;
    height:150px;
    text-align: center;
}
button{
    padding: 5px 10px;
    background-color: white;
   color:#5dc6ad ;
    border-radius: 15px;
    border: 1px solid #5dc6ad;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background-color: #5dc6ad;
    color: white;
}
.childdiv
{
  margin-top: 6%;
  width:90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 10px;
}
.actuallfruites {
    background-color: rgba(255, 255, 255, 0.8);
   
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    margin: auto;
  }
  .actuallfruites:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .fruitdetaildiv{
      width: 60%;
      margin: auto;
    
     
  }
  .fruitdetaildiv{
 
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }


  .rightfruitdiv
  {
      height: fit-content;
      width:40%;
     text-align: center;
    
  }
  .leftfruitdiv
  {
      width:40%;
     
     
    
     
  }
  a
  {
    text-decoration: none;
  }

/* **************************************************************************************************************** */

  .cartpage{
   
   width: 50%;
   margin: auto;
display: flex;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-bottom: 10px;
  } 



.cartcards{
  width: fit-content;


}

.cartcards{
  display: flex;
  
}


.cartleftchild{

  text-align: center;
  margin-right: 15%;
 
}


.cartrightchild{
  margin-top: 5%;
text-align: center;
}




